$color-blanco: #fafafa;
$color-violeta: violet;
$color-rosa: pink;
$color-negro: rgb(13, 0, 0);
$color-naranja: lightcoral;
$color-gris: grey;
$color-negrito: rgb(44, 43, 46);
$color-celeste: lightblue;
$color-blanquito: rgb(255, 255, 255);


@import "reset"; 
@import "header";
@import "footer";
@import "main";
@import "titulotienda";
@import "banner";
@import "variables";
@import "responsive";
@import "nosotros";
@import "inicio";